body {
    direction: rtl;
    background-color: lightblue;
    padding-top: 20px;
    padding-right: 40px;
    padding-left: 55px;
}

th {
    text-align: right;
}

/*I added 
      input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }
to stop spinners*/

tr.installments input[type=number]::-webkit-inner-spin-button, tr.installments input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; }
tr.no_spin input[type=number]::-webkit-inner-spin-button, tr.no_spin input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; }


/*table, tr {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    border: 1px solid #dddddd;
    text-align: right;
    padding: 8px;
    width: 100%;
}

table.insert {
    width: 400px;
    border: 0px;
    border-spacing: 1px;
    padding: 2px;
}

td, th, textarea {
    border: 1px solid #dddddd;
    text-align: right;
    padding: 8px;
}

td.insert{
    width: 100%;
}

td.submit {
    padding-right: 100px;
}

div {
    border-radius: 25px;
    width: 320px;
    padding: 20px;
    border: 2px solid purple;
    right-margin: 105px; 
}


.insert {
    border-radius: 25px;
    width: 320px;
    padding: 20px;
    border: 2px solid purple;
    right-margin: 105px; 
}
*/